#visualizacao {
    width: 75vh;
    height: 75vh;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    overflow: hidden;
}
#visPelicula {
    width: 500px;
    height: 500px;
    position: absolute;
    z-index: 1;
    cursor: move;
}
#visGrupos {
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
}
.selOff {
    user-select: none;
}

.grupo {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    position: absolute;
}
.grupoAjuda {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grupoAjuda div {
    width: 10%;
    height: 10%;
    background-color: orange;
    border-radius: 100%;
    position: absolute;
}
.grupoPlanos {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    position: absolute;
}
.absoluto {
    position: absolute;
}
.backfaceOn {
    backface-visibility: hidden;
}